$blu_color: #020E28;
$red_color: #FF0000;

.cont__about {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;

    &_descr {
        width: 100%;
        height: 25vh;
        background-image: url(../img/foto/4-grande.jpg);
        background-size: cover;
        background-repeat: none;
        padding: 2.5px 25px;

        @media(orientation: landscape){
            height: 85vh;
            background-position: center;
        }

        @media(min-width: 1280px){
            height: 65vh;
            background-position: center;
        }

        & > h2 {
            color: #fff;
            text-align: left;
            font-weight: 500;
            margin-top: 20px;

            @media(min-width: 1280px){
                font-size: 31px;
            }
        }
    }

    &_inside {
        margin: 5vh auto;

        & > h2 {
            color: $red_color;
        }

        & > p {
            width: 80%;
            font-size: 21px;
            margin: 2.5vh auto;
            text-align: left;
        }
    }
}