$blu_color: #020E28;
$red_color: #FF0000;

.cont__home {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > p {
        text-align: left;
        width: 80%;
    }

    &_info {
        width: 100%;
        margin: 5vh 0;
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: center;
        justify-content: space-around;
        padding-inline-start: 0;

        & > li {
            margin: 5vh 0;

            &:last-child {
                margin: 5vh 0 0;
            }

            & > h2 {
                color: $red_color;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 18px;
            }
        }
    }

    &_descr {
        width: 100%;
        height: 25vh;
        background-image: url(../img/foto/4-grande.jpg);
        background-size: cover;
        background-repeat: none;
        padding: 0 25px;

        & > h2 {
            color: #fff;
            text-align: left;
            font-weight: 500;
        }
    }
}