$blu_color: #020E28;
$red_color: #FF0000;

.cont__services {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-inline-start: 0;
    align-items: center;
    list-style: none;
    margin: 5vh auto;

    @media(min-width: 1280px){
        width: 85%;
        flex-direction: row;
    }

    & > li {
        width: 100%;
        height: 40vh;
        clip-path: circle();
        padding: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center;
        margin: 2.5vh 0;

        & > p {
            color: #fff;
            font-weight: bold;
            margin-top: 10px;
        }

        & > a  {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            font-size: 12px;
            transition: color .6s;
            background-color: $red_color;
            transition: color .6s, background-color .7s;
            border-radius: 25px;
            padding: 5px;
            text-transform: uppercase;
            line-height: 15px;
            width: 65%;
            margin-top: -10px;

            &:hover {
                background-color: $blu_color;
                color: $red_color;
            }
        }

        &[id="home"] {
            background-image: url('../img/foto/casa.png');
        }

        &[id="business"] {
            background-image: url('../img/foto/business.png');
        }

        &[id="flat"] {
            background-image: url('../img/foto/condomini.png');
        }
    }
}